#burger{
    background-color:lightslategray;
    margin: 30px;
    
    display: flex;
    justify-content:space-around;
    align-items:center;
    



}
#best{
font-size:29px;
color: beige;
font-size 30px;

}
#super{ 
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : beige;
 
    
}
#od{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:6px 10px 6px 10px;
    background-color:orangered;
    color: azure;
    

}
